* {
    font-family: Helvetica, Arial, sans-serif;
    box-sizing: border-box;
}

body {
    background-color: #2a2c2a;
}

.mode-switch {
    margin: -70px 30px 0 0;
    float: right;
}

.switch-box {
    padding: 6px 12px;
    outline: none;
}
.switch-box:hover {
    cursor: pointer;
}

.light-mode {
    padding : 8px 16px;
    border-radius: 5px;
    background: #e0e0e0;
    border: none;
    font-weight: bold;
    transition: all 0.3s;
}

.light-mode:active {
    background-color: gray;
    box-shadow: 0 1px #fff;
    transform: translateY(4px);
}

.dark-mode {
    background: #5f5d5d;
    color: #e0e0e0;
    border-radius: 5px;
    background: linear-gradient(145deg, #2d2f2d, #262826);
    box-shadow: 5px 5px 6px #1d1e1d,
    -5px -5px 6px #373a37;

}

.main-container {
    margin: 100px auto;
    position: relative;
    width: 350px;
    height: 500px;
    border-radius: 30px;
    background: #2a2c2a;
    box-shadow: 8px 8px 12px #1e1f1e,
    -8px -8px 12px #363936;
}

.input-display {
    top: 50px;
    position: relative;
    margin: 0 auto 80px auto;
    width: 300px;
    height: 70px;
    border-radius: 5px;
    background: #2a2c2a;
    box-shadow: inset 5px 5px 8px #1b1c1b,
    inset -5px -5px 8px #393c39;
}

.first-operation{
    position: absolute;
    top: 10px;
    left: 15px;
    font-size: 18px;
     color:#e0e0e0;
}
.second-operation{
    position:absolute;
     color:#e0e0e0;
    top:40px;
     left: 15px;
     font-size: 18px;
}
.math-operation{
    position:absolute;
     color:#e0e0e0;
    top:25px;
    left: 15px;
    font-size:18px;
}

.result {
    position: absolute;
    font-size: 23px;
    color:#e0e0e0;
    bottom: 0;
    right: 15px;
    
}

.grid-container {
    position: absolute;
    margin: 0 0 0 30px;
    width: 40px;
    height: 40px;
    display: grid;
    grid-gap: 18px;
    grid-template-columns: repeat(5, 1fr);

}

.numbers,
.functions,.numbers-equal,.clear,.functions-delete {
    height: 30px;
    width: 45px;
    border-radius: 5px;
    background: linear-gradient(145deg, #2d2f2d, #262826);
    box-shadow: 5px 5px 6px #1c1d1c,
    -5px -5px 6px #383b38;
    border: none;
    font-size: 17px;
    color:#e0e0e0;
    font-weight: bold;
    transition: all 0.3s;
}

button:focus {
    outline: none;
}
button:hover{
    cursor: pointer;
}

.numbers:active,
.numbers-equal:active {
    background-color: gray;
    box-shadow: 0 1px #fff;
    transform: translateY(4px);
}

.functions,.clear,.functions-delete {
    color: #e0e0e0;
}

.functions:active, .clear:active,.functions-delete:active {
    background-color: #ff9999;
    box-shadow: 0 1px #fff;
    transform: translateY(4px);
}