* {
    font-family: Helvetica, Arial, sans-serif;
    box-sizing: border-box;
}

body {
    background-color: #e0e0e0;
}
.mode-switch{
    margin: -70px 30px 0 0;
    float:right;
}
.switch-box{
    padding: 6px 12px;
    outline: none;
    transition: all 0.3s;
}
.switch-box:hover{
    cursor:pointer;
}
.light-mode{
    display:none;
}
.light-mode:active{
    background-color: gray;
    box-shadow: 0 1px #fff;
    transform: translateY(4px);
}
.dark-mode{
    border-radius: 5px;
    background: #5f5d5d;
    color:#e0e0e0;
    transition: all 0.3s;
}

.main-container {
    margin: 100px auto;
    position: relative;
    width: 350px;
    height: 500px;
    border-radius: 30px;
    background: #e0e0e0;
    box-shadow: 9px 9px 18px #afafaf,
    -9px -9px 18px #ffffff;
}

.input-display {
    top : 50px;
    position: relative;
    margin: 0 auto 80px auto;
    width: 300px;
    height: 70px;
    border-radius: 5px;
    background: #e0e0e0;
    box-shadow: inset 8px 8px 8px #afafaf,
        inset -8px -8px 8px #ffffff;
}

.first-operation{
    position: absolute;
    top: 10px;
    left: 15px;
    font-size: 18px;
}
.second-operation{
    position:absolute;
    top:40px;
     left: 15px;
     font-size: 18px;
}
.math-operation{
    position:absolute;
    top:25px;
    left: 15px;
    font-size:18px;
}
.result {
    position: absolute;
    font-size: 23px;
    color: #0a0a0a;
    bottom: 0;
    right: 15px;
}

.grid-container {
    position: absolute;
    margin: 0 0 0 30px;
    width: 40px;
    height: 40px;
    display: grid;
    grid-gap: 18px;
    grid-template-columns: repeat(5, 1fr);

}

.numbers,
.functions,.numbers-equal,.clear,.functions-delete {
    height: 30px;
    width: 45px;
    border-radius: 5px;
    background: #e0e0e0;
    box-shadow: 5px 5px 10px #afafaf,
        -5px -5px 10px #ffffff;
    border: none;
    font-size: 17px;
    color: #000;
    font-weight: bold;
    transition: all 0.3s;
}

button:focus {
    outline: none;
}
button:hover{
    cursor: pointer;
}
.numbers:active,
.numbers-equal:active {
    background-color: gray;
    box-shadow: 0 1px #fff;
    transform: translateY(4px);
}

.functions,.clear,.functions-delete {
    color: red;
}

.functions:active,.clear:active,.functions-delete:active {
    background-color: #ff9999;
    box-shadow: 0 1px #fff;
    transform: translateY(4px);
}